<form name="form" novalidate class="row">
    <div class="loan-input col-md-4 form-group">
        <label>Loan amount (NOK)<br/>
            <input name="amount" class="form-control" type="number" required cc-integer min="10" max="100000000" placeholder="Amount" data-ng-model="inputAmount"
                   data-ng-model-options="{debounce: 1000}"/>
        </label>
        <br/>
      <span data-ng-show="form.amount.$error.required">
          Loan amount must be specified!
          <br/>
      </span>
      <span data-ng-show="form.amount.$error.ccInteger">
          Amount must be an integer.
          <br/>
      </span>
      <span data-ng-show="form.amount.$error.min || form.amount.$error.max">
          The value must be in range 10 to 100.000.000!
          <br/>
      </span>
    </div>
    <div class="loan-input col-md-4 form-group" ng-class="{'has-error': !form.downPayYears.$valid}">
        <label>Down payment years<br/>
            <input name="downPayYears" class="form-control" type="number" required cc-integer min="2" max="50" placeholder="Years"
                   data-ng-model="inputDownPayYears" data-ng-model-options="{debounce: 1000}"/>
        </label>
        <br/>
      <span data-ng-show="form.downPayYears.$error.required">
          Down payment years must be specified!
          <br/>
      </span>
      <span data-ng-show="form.downPayYears.$error.ccInteger">
          Down payment years must be an integer.
          <br/>
      </span>
      <span data-ng-show="form.downPayYears.$error.min || form.downPayYears.$error.max">
          The value must be in range 2 to 50!
          <br/>
      </span>
    </div>
    <div class="loan-input col-md-4 form-group" ng-class="{'has-error': !form.interest.$valid}">
        <label>Interest rate (%)<br/>
            <input name="interest" class="form-control" type="number" required min="1" max="10" placeholder="%" data-ng-model="inputInterest"
                   data-ng-model-options="{debounce: 1000}"/>
        </label>
        <br/>
      <span data-ng-show="form.interest.$error.required">
          Interest rate must be specified!
          <br/>
      </span>
      <span data-ng-show="form.interest.$error.min || form.interest.$error.max">
          The value must be in range 1 to 10!
          <br/>
      </span>
    </div>
</form>

<div class="row">
    <div class="loan-output col-md-12">
        Monthly payments:<br/>
        {{outputMonthlyPayments}} NOK
    </div>
</div>
