<h1>Calculate your loan</h1>

<div>
    <form>

        <div class="loan-parameter-input">
            <label>Loan amount</label><br/>
            <input type="text" placeholder="NOK" data-ng-model="inputParameters.amount" data-ng-model-options="{debounce: 1000}" />
        </div>

        <div class="loan-parameter-input">
            <label>Down payment years</label><br/>
            <input type="text" placeholder="years" data-ng-model="inputParameters.downPayYears" data-ng-model-options="{debounce: 1000}" />
        </div>

        <div class="loan-parameter-input">
            <label>Interest rate</label><br/>
            <input type="text" placeholder="%" data-ng-model="inputParameters.interest" data-ng-model-options="{debounce: 1000}" />
        </div>
    </form>
</div>

<div class="output-area">
    Monthly payments<br/>
    <cc-monthly-payments amount="inputParameters.amount" down-pay-years="inputParameters.downPayYears" interest="inputParameters.interest" /> kr
</div>

