<h1>Calculate your loan</h1>

<div>
    <form>

        <cc-loan-parameter-input label-text="Loan amount" units="NOK" input-parameter="inputParameters.amount"></cc-loan-parameter-input>
        <cc-loan-parameter-input label-text="Down payment years" units="years" input-parameter="inputParameters.downPayYears"></cc-loan-parameter-input>
        <cc-loan-parameter-input label-text="Interest rate" units="%" input-parameter="inputParameters.interest"></cc-loan-parameter-input>

    </form>
</div>

<div class="output-area">
    Monthly payments<br/>
    {{output.monthlyPayments}} NOK
</div>

